.blob_one {
    right: -150px;
    top: -150px;
    animation-name: move;
    animation-duration: 20s;
    animation-direction: both;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.blob_two {
    right: -150px;
    bottom: -150px;
    animation-name: move;
    animation-duration: 20s;
    animation-direction: both;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.blob_three {
    left: -200px;
    top: 100px;
    animation-name: move;
    animation-duration: 20s;
    animation-direction: both;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.blob_four {
    left: 200px;
    top: 100px;
    animation-name: move;
    animation-duration: 20s;
    animation-direction: both;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.h1 {
    font-family: 'Lora', serif;
    text-align: center;
    letter-spacing: 5px;
    animation-name: fade-in;
    animation-duration: 2s;
    padding-top: 30vh;
}

.h2 {
    font-family: 'Lora', serif;
    text-align: center;
    letter-spacing: 5px;
    animation-name: fade-in;
    animation-duration: 2s;
    font-size: 1em;
}

.ul {
    font-family: 'Lora', serif;
    list-style: none;
    text-align: center;
    padding: 0;
}

.li {
    margin: 0 0 10px 0;
}

.li:nth-child(1) {
    animation-name: fade-in;
    animation-duration: 4s 
}
.li:nth-child(2) {
    animation-name: fade-in;
    animation-duration: 4.2s 
}
.li:nth-child(3) {
    animation-name: fade-in;
    animation-duration: 4.4s 
}
.li:nth-child(4) {
    animation-name: fade-in;
    animation-duration: 4.6s 
}

.wrench {
    animation-name: fade-in;
    animation-duration: 3s;
    text-align: center;
}

.li:hover {
    cursor: pointer;
}

@keyframes fade-in {
    from {
      opacity: 0;
      transform: translate(0, 10px);;
    }
    to {
      opacity: 1;
      transform: translate(0, 0);;
    }
}


@keyframes move {
    from {
      transform: translate(-20px, 10px);;
    }
    to {
      transform: translate(30px, -40px);;
    }
}

@keyframes move-out-of-view {
    from {
    }
    to {
        transform: translate(30px, -400px);;
    } 
}